<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{$ctrl.match.homeTeamName}}</span>
            <span class="md-subhead"><small>VS</small></span>
            <span class="md-headline">{{$ctrl.match.awayTeamName}}</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="card-media">{{$ctrl.match.dateTime | date:'mediumDate'}}</div>
            <div class="card-media">{{$ctrl.match.dateTime | date:'mediumTime'}}</div>
        </md-card-title-media>
    </md-card-title>
</md-card>

<!--<div>-->
     <!--vs {{$ctrl.match.awayTeamName}} @ -->
<!--</div>-->